.input {
  width: 100%;
  height: 40px;
}

.error {
  color: red;
  margin-top: 0;
  font-size: 14px;
}
.description {
  color: #8f9092;
  font-size: 12px;
}
.star {
  color: red;
}

.inputRadio {
  width: 10px;
  height: 10px;
  background-color: #51c76d;
  text-align: left;
}
.labelDisabled {
  color: #d5d2d2;
}
