.label {
  display: flex;
  flex-direction: column;
}
.input {
  opacity: 0;
}
.checkboxSwitch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25%/50%;
  vertical-align: top;
  background: #eee;
  transition: 0.2s;
}
.circle {
  position: absolute;
  top: 1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.15s;
}
